{% extends 'back.html.twig' %}

{% block content %}
    <h3>Nouvelle Categorie</h3>

    {{ form_start(form) }}
        
        
        <div class="form-group {% if form.libelle.vars.errors | length > 0 %} has-error {% endif %}">
            {{ form_row(form.libelle, {'required':false, 'attr': { 'class': 'form-control' }}) }}
        </div>

         <div class="form-group  {% if form.slug.vars.errors | length > 0 %} has-error {% endif %}">
            {{ form_row(form.slug, {'required':false, 'attr': { 'class': 'form-control' }}) }}
        </div>
        
         <div class="form-group  {% if form.description.vars.errors | length > 0 %} has-error {% endif %}">
            {{ form_row(form.description, {'required':false, 'attr': { 'class': 'form-control' }}) }}
        </div>

        <hr>
        <input class="btn btn-primary" type="submit" value="Enregister" />
          <a class="btn btn-default" href="{{ path('admin_category_index') }}">Retour</a>
    {{ form_end(form) }}

{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumb">
      <li> <a href="">Tableau de bord</a> </li>
      <li> <a href="">Liste des catégories</a> </li>
      <li>Nouvelle catégorie</li>
  </ul>
{% endblock %}
