{% extends 'back.html.twig' %}

{% block content %}

    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ category.libelle }}</h3>
        </div>
        <div class="panel-body">
            <h5>{{ category.slug }}</h5>
            <p>{{ category.description }}</p>

            <small>
               crée le : {{ category.createAt | date('d/m/Y H:i:s') }}
               Modifiée le : {{ category.updateAt | date('d/m/Y H:i:s') }}
            </small>
        </div>
    </div>

   

   
            <a class="btn btn-default" href="{{ path('admin_category_index') }}">Retour</a>
       
            <a class="btn btn-warning" href="{{ path('admin_category_edit', { 'id': category.id }) }}">Editer</a>
        
        
    </ul>
{% endblock %}


{% block breadcrumb %}

    <ul class="breadcrumb">
        <li> <a href="#">Tableau de bord</a> </li>
        <li> <a href="{{ path('admin_category_index') }}">Liste des catégories</a> </li>
        <li class="active">{{ category.libelle }}</li>
    </ul>

{% endblock %}
