{% extends 'back.html.twig' %}

{% block content %}
    <h3>Liste des posts</h3>

     <a class="btn btn-primary" href="{{ path('admin_post_new') }}">Nouveau Post</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Body</th>
                <th>Slug</th>
                <th>Datepublish</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('admin_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.slug }}</td>
                <td>{% if post.datepublish %}{{ post.datepublish|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

{% block breadcrumb %}

<ul class="breadcrumb">
    <li> <a href="">Tbleau de bord</a> </li>
    <li class="active">Liste des posts</li>
</ul>

{% endblock %}
